* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background: #2B6C2B;
}

.header__nav {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;

}

.header__nav li {
	list-style-type: none;
}

.header__nav li a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	padding: 1em 1.5em;
}

.right-nav {
	margin-left: auto;
}

.container {
	margin: 0 auto;
	padding: 1.5em;
}